html {
  height: 100%;
  background-attachment: fixed;
}

body {
  background: #b4ddb4;
  background: -moz-linear-gradient(-45deg,  #008a00 0%, #005700 39%, #002400 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#008a00), color-stop(39%,#005700), color-stop(100%,#002400));
  background: -webkit-linear-gradient(-45deg,  #008a00 0%,#005700 39%,#002400 100%);
  background: -o-linear-gradient(-45deg,  #008a00 0%,#005700 39%,#002400 100%);
  background: -ms-linear-gradient(-45deg,  #008a00 0%,#005700 39%,#002400 100%);
  background: linear-gradient(135deg,  #008a00 0%,#005700 39%,#002400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 );
  background-attachment: fixed;
}

footer {
  font-family: arial, sans-serif;
}

table {
  font-family: arial;
  width: 645px;
}

h3 {
  font-family: arial, sans-serif;
  color: #ffffff;
}

h4 {
  font-family: arial, sans-serif;
  color: #ffffff;
}

#galleria {
  width: 600px;
  height: 400px;
  background: #000;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}